
.alert{
    @include d_f(flex, center, center);
    height: 100%;
    padding: 10px;
    background: map-get($bg_color, black_alpha);

    flex-direction: column;

    // 視窗外框 .alert__box
    &__box{
        @include d_f(flex, unset, flex-start);
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 300px;
        min-height: 150px;
        padding: 2px;
        background: map-get($bg_color, secondary_vl);
        border-radius: 5px;
        overflow: hidden;

        &.--password{
            background: map-get($bg_color, lightblue);
        }

        &::before{
            @include pos_abs(0, 0, 0, 0);
            content: '';
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: map-get($bg_color, alert_bg);
            margin: auto;
        }

        // 視窗title .alert__box__title
        &__title{
            @include d_f(flex, center, flex-start);
            position: relative;
            flex: none;
            padding: 10px;
            color: map-get($txt_color, primary);

            @at-root .--password .alert__box__title{
                @include border(0 0 1px, map-get($border_color, secondary));
                background: map-get($bg_color, primary_vl);
            }

            i{
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            .close_btn{
                @include btn_set(20px, 20px, url(../images/icon_x.svg) no-repeat center / 80%);
                margin-left: auto;

                // 手指效果
                @include hoverHandler{
                    transform: scale(1.2);
                }
            }

            .minisize_btn{
                @include btn_set(20px, 20px, url(../images/icon_minisize.svg) no-repeat center / contain);
                
                // 手指效果
                @include hoverHandler{
                    transform: scale(1.2);
                }
            }
        }

        // 視窗內容 .alert__box__info
        &__info{
            @include d_f(flex, center, center);
            flex-direction: column;
            position: relative;
            flex: 1 1 100%;
            padding: 0 10px 10px;
            text-align: center;

            @at-root .--password .alert__box__info{
                padding: 20px 20px 0;
            }

            .list_txt{
                width: 100%;

                li{
                    @include d_f(flex, center, flex-start);
                    color: map-get($txt_color, white);
                    margin-bottom: 5px;

                    @at-root .--password .list_txt li{
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 20px;
                    }

                    &::before{
                        @include mr_distance;
                        content: attr(data-txt);
                        display: block;
                        width: 80px;
                        color: map-get($txt_color, yellow);
                        text-align: right;

                        @at-root .--password .list_txt li::before{
                            width: auto;
                            color: map-get($txt_color, primary);
                            margin-bottom: 5px;
                            font-size: 14px;
                            text-align: left;
                        }
                    }
                }

                // 單一置中訊息
                &.--bigword {
                    padding-left: 0;
                    
                    li{
                    justify-content: center;
                    font-weight: bold;
                    font-size: 20px;
                    
                    &::before{
                        content: none;
                    }

                    code{
                        color: map-get($txt_color, yellow);
                    }                    
                }
                }
            }

            .check_area{
                @include d_f(flex, center, center);
                width: 100%;
                margin: 10px 0;

                li + li{
                    margin-left: 20px;
                }
            }
            
        }
        

        // 彈窗功能按鈕
        .func{
                @include d_f(flex, center, center);
                flex: none;
                flex-wrap: wrap;
                padding: 0 10px;

                @at-root .--password .func{
                    padding: 0 20px 10px;
                }

            // .foot_btn
            &_btn{
                @include btn_set(calc(100% / 2 - 10px), 35px, map-get($btn_color, lightblue));
                border: 1px solid map-get($bg_color, lightblue);
                border-radius: 3px;
                margin-bottom: 10px;

                overflow: hidden;
                
                &:nth-child(even){
                    margin-left: 20px;
                }

                &::before{
                    @include btn_hoverlight03;
                }
                &::after{
                    @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
                    font-weight: bold;
                    
                }
                .hover_item{
                    @include btn_hoveritem(map-get($btn_color, primary));

                    &::before {
                        @include btn_hoverlight03;
                    }
                }

                // 手指效果
                @include btn_hoverHandler(1px, map-get($txt_color, secondary)){
                    border-color: map-get($bg_color, secondary);
                }


                // 紅色款
                &.--red {
                    background: map-get($btn_color, orange_hl);
                    border-color: map-get($bg_color, secondary);
                    
                    .hover_item {
                        background: map-get($btn_color, lightorange_hl);
                    }

                    // 手指效果
                    @include btn_hoverHandler(1px, map-get($txt_color, primary)){
                        border-color: map-get($bg_color, secondary);
                    }
                }

                // 金色款
                &.--gold {
                    background: map-get($btn_color, primary);
                    border-color: map-get($bg_color, secondary);
                    
                    &::after{
                        @include btn_txt(center, map-get($txt_color, secondary), map-get($txt_color, shadow));
                    }

                    .hover_item {
                        background: map-get($btn_color, lightblue);
                    }

                    // 手指效果
                    @include btn_hoverHandler(1px, map-get($txt_color, primary)){
                        border-color: map-get($bg_color, lightblue);
                    }
                }

                
            }

        }

        // .load
        .load{
            display: inline-block;
            position: relative;
            width: 30px;
            height: 30px;
            margin: 25px 0 10px;
            
            &::before{
                @include pos_abs(unset, 0, calc(100% + 10px), 0);
                content: attr(data-txt);
                color: map-get($txt_color, yellow);
                font-size: 12px;
                margin: auto;
                white-space: nowrap;
            }
            
            div {
                @include pos_abs(0, 0, 0, 0);
                border: 2px solid map-get($bg_color, white);
                border-radius: 50%;
                box-shadow: 0 0 5px map-get($bg_color, lightblue);
                opacity: 1;

                animation: load 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

                &:nth-child(2) {
                    animation-delay: -.5s;
                }
            }
            @keyframes load {
                0% {
                    transform: scale(0);
                }
                80% {
                    transform: scale(1.5);
                    opacity: 1;
                }
                100% {
                    transform: scale(1.8);
                    opacity: 0;
                }
            }
        }

    }
}