
// 大廳桌
.lobbyTb{
    @extend %txtshadow;
    width: 600px;
    border-radius: 5px;
    color: map-get($txt_color, primary);
    font-size: 14px;
    margin-bottom: 30px;
    overflow: hidden;
    // 大廳狀態
    i {
        position: relative;
        margin-left: auto;
    }

    &.--i_ex i::before,
    &.--i_fast i::after {
        @include pos_abs(0, calc(100% + 5px), 0, unset);
        content: '';
        width: 20px;
        height: 20px;
        background: url(../images/icon_ex.svg) no-repeat center / contain;        
        margin: auto;
    }

    &.--i_fast i::after {
        background-image: url(../images/icon_fast.svg);
        right: calc(100% + 35px);
    }
    &.--i_fast:not(.--i_ex) i::after {
        right: calc(100% + 5px);
    }


    // title區
    &__title{
        @include d_f(flex, center, flex-start);
        position: relative;
        height: 35px;
        padding: 0 10px;
        background: map-get($bg_color, primary_vl);
        overflow: hidden;
        &::before{
            @include pos_abs(0, unset, unset, 0);
            content: '';
            width: 100%;
            height: 2000%;
            background: linear-gradient(-137deg, #004889 0%, #001940) 100%;
            background-size: 25px 25px;
            pointer-events: none;
            transform: rotate(-45deg);
            transform-origin: 2% 5%;
            opacity: .4;
        }

        &__limit{
            @extend %txtshadow;
            position: relative;
            &::before{
                content: attr(data-info);
                margin-right: 5px;
            }
        }
        &__no {
            @include pos_abs(-120%, 0, auto, 0);
            width: 33%;
            height: 200%;
            border-radius: 20px;
            border: 2px solid map-get($bg_color, secondary);
            font-weight: bold;
            margin: auto;
            overflow: hidden;
            &::before {
                @include pos_abs(0, unset, unset, 0);
                content: '';
                width: 100%;
                height: 2000%;
                background: map-get($bg_color, darkblue);
                background-size: 25px 25px;
                pointer-events: none;
                transform: rotate(-45deg);
                transform-origin: 8% 6%;                
            }
            &::after{
                @include pos_abs(unset, 0, 0, 0);
                @include bg_txt(map-get($bg_color, secondary_vl), 24px);
                content: attr(data-txt);
                margin: auto;
                text-align: center;
                text-shadow: none;
            }
        }

        &__time{
            @include d_f(flex, center, center);
            position: relative;
            height: 80%;
            padding: 0 5px;
            background: map-get($bg_color, darkblue);
            border-radius: 27px;
            border: 1px solid map-get($bg_color, secondary);
            color: map-get($txt_color, primary);
            font-size: 18px;
            
            &::before{
                @include d_f(flex, center, center);
                content: none;
                position: relative;
                width: 25px;
                height: 25px;
                background: url(../images/icon_time.svg) no-repeat center / contain;
            }
            &:empty{
                background:none;
                border: none;
            }
            &:empty::before {
                content: '';
            }
        }
    }

    // 珠路區
    &__road {
        @include border(1px 0, map-get($border_color, secondary));
        position: relative;
        background: map-get($bg_color, white);

        >div:not(.lobbyTb__road__img):not(.lobbyTb__road__loading) {
            @include pos_abs(0, 0, 0, 0);
            width: 100%;
            height: 100%;
        }

        &__loading {
            @include load_set(.7, map-get($bg_color, lightblue));
            padding-bottom: calc(100% * .17847);
        }

        &__limit {
            @include d_f(flex, center, center);
            @extend %transition;
            flex-direction: column;
            padding: 10px;
            background: map-get($bg_color, black_alpha);
            opacity: 0;

            &::before {
                content: attr(data-info);
                display: block;
                font-size: 18px;
                text-align: center;
            }

            ul {
                @include d_f(flex, flex-start, center);
                width: 100%;
                height: 80%;
                flex-direction: column;
                flex-wrap: wrap;

                li {
                    margin: 1% 0;
                }
            }
        }

        @include hoverHandler {
            .lobbyTb__road__limit {
                opacity: 1;
            }
        }
    }

    // foot區
    &__foot{
        @include d_f(flex, center, space-between);
        height: 35px;
        padding-left: 10px;
        background: map-get($bg_color, primary_vl);
        &__info{
            @include d_f(flex, center, flex-start);
            flex: none;
            height: 100%;
            >li{
                font-size: 14px;
                &::after {
                    content: attr(data-info);
                    background: #000;
                    padding: 3px 5px;
                    border-radius: 3px;
                    color: map-get($txt_color, primary);
                    margin-left: 5px;
                }
                +li{
                    margin-left: 20px;
                }
                &:nth-child(1){
                    color: map-get($txt_color, bank);
                }
                &:nth-child(2) {
                    color: map-get($txt_color, play);
                }
                &:nth-child(3) {
                    color: map-get($txt_color, tie);
                }                
            }
        }

        &__btn{
            @include btn_set(20%, 100%, map-get($btn_color, lightblue));
            @include border(1px 0, map-get($border_color, secondary));
            flex: none;
            &::before {
                @include btn_hoverlight03;
            }
            &::after {
                @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
                font-size: 18px;
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, secondary));

                &::before {
                    @include btn_hoverlight03;
                }
            }

            // 手指效果
            @include btn_hoverHandler(1px 0, map-get($txt_color, primary));
        }
    }
}
