.history{
    width: 100%;
    height: 100%;
    
    // .history__title
    &__title{
        @include d_f(flex, center, center);
        height: 35px;
        background: map-get($bg_color, primary_vl);
        font-size: 20px;
        font-weight: bold;
    }
    // .history__content
    &__content{
        @include mw_xs{
            padding-bottom: 10px;
        }
        .search{
            @include d_f(flex, center, flex-start);
            padding: 10px 20px;
            background: map-get($bg_color, black);

            @include mw_xs{
                flex-wrap: wrap;
                padding: 10px 0 0 10px;
            }
            .select_style{
                @include mr_distance;
                width: auto;
                min-width: 120px;

                @include mw_xs{
                    min-width: 100px;
                    margin-bottom: 10px;
                }
                select{
                    background: map-get($bg_color, darkgray);

                    @include mw_xs{
                        font-size: 14px;
                    }
                }
            }
        }
        // 功能按鈕
        .return_btn,
        .cancel_wager_btn{
            @include btn_set(auto, 30px, map-get($btn_color, lightblue));
            @include radius_hidden();
            @include mr_distance;
            min-width: 120px;
            padding: 0 10px;
            border: 1px solid map-get($bg_color, lightblue);

            @include mw_xs{
                min-width: 100px;
                margin-bottom: 10px;
            }

            &::before{
                @include btn_hoverlight03;
            }

            &::after{
                @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
            }
            .hover_item{
                @include btn_hoveritem(map-get($btn_color, lightblue_vl));
                box-shadow: 0 0 1px map-get($bg_color, secondary) inset,
                    0 0 3px map-get($bg_color, secondary) inset;

                &::before{
                    @include btn_hoverlight03;
                }
            }
            i{
                @include btn_i(map-get($bg_color, i_blue));
            }

            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, primary));
        }
        .cancel_wager_btn{
            background: map-get($btn_color, green);
            border-color: map-get($bg_color, lightgreen)
            ;
            margin-right: 0;
            i{
                @include btn_i(map-get($bg_color, i_green));
            }
            .hover_item{
                @include btn_hoveritem(map-get($btn_color, lightgreen));
            }
        }
        .info{
            @include border(1px 0, map-get($border_color, secondary));
            padding: 5px 20px;
            background: map-get($bg_color, darkblue_vl);

            @include mw_xs{
                padding: 5px 10px 0;
            }
            
            // .info__box
            &__box{
                @include mr_distance;
                display: inline-block;

                @include mw_xs{
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
            // .info__title
            &__title{
                color: map-get($txt_color, yellow);
            }
        }
    }
}
.history_detail{
    .info{
        @include d_f(flex, center, center);
        height: 40px;
        background: linear-gradient(137deg, #001940 0%, #000) 100%;
        @include mw_xs{
            height: auto;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 15px 15px 0;
        }
        // .info__box
        &__box{
            @include mw_xs{
                width: 50%;
                margin-bottom: 10px;
            }
            & + .info__box{
                margin-left: 45px;
                @include mw_xs{
                    margin-left: 0;
                }
            }
            &:first-child{
                @include mw_xs{
                    width: 100%;
                }
            }
        }
        // .info__title
        &__title{
            color: #FFFDB4;
        }
    }
    .title{
        @include d_f(flex, center, center);
        height: 35px;
        font-size: 20px;
        background: map-get($bg_color, primary_vl);
        @include border(1px 0, map-get($border_color, secondary));
    }
    // .normal_table{
    //     width: 100%;
    //     thead{
    //         @include mw_xs{
    //             display: none;
    //         }
    //     }
    //     .normal_box{
    //         @include mw_xs{
    //             display: flex;
    //             flex-wrap: wrap;
    //         }
    //     }
    //     th,
    //     td{
    //         text-align: center;
    //         height: 50px;
    //         border-width: 0 1px 1px 0;
    //         border-style: solid;
    //         border-color: #707070;
    //     }
    //     th{
    //         background: #4D4D4D;
    //         font-size: 14px;
    //     }
    //     td{
    //         background: #808080;
    //         font-size: 12px;
    //         @include mw_xs{
    //             position: relative;
    //             @include d_f(flex, center, center);
    //             width: calc(100% / 5);
    //             margin-top: 50px;
    //             border-width: 0 0 1px 0;
    //             &:before{
    //                 @include pos_abs(-50px, unset, 0, 0);
    //                 @include d_f(flex, center, center);
    //                 content: attr(data-txt);
    //                 width: 100%;
    //                 height: 100%;
    //                 background: map-get($bg_color, td_titlegray);
    //                 border-bottom: 1px solid map-get($bg_color, td_titlegray);
    //                 color: map-get($txt_color, white);
    //             }
    //         }
    //     }
    //     .first_row{
    //         &:before{
    //             @include mw_xs{
    //                 background: map-get($bg_color, primary_vl);
    //             }
    //         }
    //     }
    //     .last_row{
    //         @include mw_xs{
    //             width: calc(100% / 3);
    //         }
    //         .result{
    //             @include mw_xs{
    //                 width: 16px;
    //                 height: 16px;
    //                 position: relative;
    //                 z-index: 0;
    //                 &:before{
    //                     position: absolute;
    //                     content: '';
    //                     top: -4px;
    //                     bottom: -4px;
    //                     left: -4px;
    //                     right: -4px;
    //                     border-radius: 50%;
    //                     z-index: -1;
    //                 }
    //                 &.--banker{
    //                     &:before{
    //                         background: map-get($txt_color, bank);
    //                     }
    //                 }
    //                 &.--player{
    //                     &:before{
    //                         background: map-get($txt_color, play);
    //                     }
    //                 }
    //                 &.--tie{
    //                     &:before{
    //                         background: map-get($txt_color, tie);
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     .time{
    //         @include mw_xs{
    //             flex-wrap: wrap;
    //         }
    //     }
    // }
    .cancel_wager{
        width: 100%;
        height: 40px;
        color: map-get($txt_color, primary);
        background: map-get($btn_color, lightblue_vl);
    }
}

// 表格設定
.table_group{
    @include mw_xs{
        width: calc(100% - 20px);
        margin: auto;
        
        &:not(.--total){
            padding-top: 10px;
        }
    }    
}


.normal_table{
    width: 100%;
    color: map-get($txt_color, primary);
    text-align: center;
    margin: auto;

    @include mw_sm{
        font-size: 14px;
    }
    @include mw_xs{
        font-size: 16px;
    }
    
    thead{
        @include mw_xs{
            display: none;
        }
    }

    .normal_box{
        @include mw_xs{
            display: block;
            margin-bottom: 10px;
        }
    }

    th,
    td{
        padding: 15px 5px;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: map-get($bg_color, td_titlegray);

        &:last-child{
            border-right: none;
        }
    }
    th{
        background: map-get($bg_color, td_titlegray);
    }
    td{
        background: map-get($bg_color, td_gray);

        @include mw_xs{
            position: relative;
            @include d_f(flex, center, space-between);
            width: 100%;
            padding-left: 130px;
            border-width: 0 0 1px 0;
            &:before{
                @include pos_abs(0, unset, 0, 0);
                @include d_f(flex, center, center);
                content: attr(data-txt);
                width: 120px;
                height: 100%;
                background: map-get($bg_color, td_titlegray);
                border-bottom: 1px solid map-get($bg_color, td_titlegray);
                color: map-get($txt_color, primary);
            }
        }
    }

    // 總計
    @at-root .--total{
        @extend %transition;

        @include mw_xs{
            position: fixed;
            top: calc(100% - 50px);
            left: 10px;
            border: 1px solid map-get($bg_color, secondary);
            transform: translateY(0);

            &.--on{
                box-shadow: 0 -3px 10px map-get($bg_color, darkgray);
                transform: translateY(-100%);
            }
        }

        td{
            background: map-get($bg_color, td_titlegray);

            @include mw_xs{
                width: auto;
                background: map-get($bg_color, td_gray);

                &:before{
                    color: map-get($txt_color , white);
                }

                // 若內容為空時隱藏
                &:empty{
                    display: none;
                }
            }
        }
        th{
            color: map-get($txt_color, white);

            @include mw_xs{
                @include pos_abs(unset, unset, 100%, 0);
                @include d_f(flex, center, center);
                @include radius_hidden(5px 5px 0 0);
                min-width: 120px;
                height: 30px;
                padding: 0;
                background: map-get($btn_color, primary);
                box-shadow: 0 0 0 1px map-get($bg_color, secondary) inset;
                border: none;
                color: map-get($txt_color, secondary);
                cursor: pointer;
                font-weight: bold;

                &:before{
                    content: none;
                }
                &:after{
                    @include btn_hoverlight03;
                }

                // 手指效果
                @include hoverHandler{
                    filter: brightness(120%);
                }
            }
        }
    }
}