
.alert{
    @include d_f(flex, center, center);
    height: 100%;
    padding: 10px;
    background: map-get($bg_color, black_alpha);

    flex-direction: column;

    // 視窗外框 .alert__box
    &__box{
        @include d_f(flex, unset, flex-start);
        @include radius_hidden(5px);
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 300px;
        min-height: 150px;
        padding: 2px;
        background: map-get($bg_color, secondary_vl);

        &::before{
            @include pos_abs(0, 0, 0, 0);
            content: '';
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: map-get($bg_color, alert_bg);
            margin: auto;
        }

        // 視窗title .alert__box__title
        &__title{
            @include d_f(flex, center, flex-start);
            position: relative;
            flex: none;
            padding: 10px;
            color: map-get($txt_color, primary);

            @at-root .--password .alert__box__title{
                @include border(0 0 1px, map-get($border_color, primary));
                background: map-get($bg_color, primary_vl);
            }

            i{
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            .close_btn{
                margin-left: auto;
            }
        }

        // 視窗內容 .alert__box__info
        &__info{
            @include d_f(flex, center, center);
            flex-direction: column;
            position: relative;
            flex: 1 1 100%;
            padding: 0 10px 10px;
            text-align: center;

            @at-root .--password .alert__box__info{
                padding: 20px 20px 0;
            }

            .list_txt{
                width: 100%;
                
                li{
                    @include d_f(flex, center, flex-start);
                    color: map-get($txt_color, white);
                    margin-bottom: 5px;

                    @at-root .--password .list_txt li{
                        flex-direction: column;
                        align-items: flex-start;
                        margin-bottom: 20px;
                    }

                    &::before{
                        @include mr_distance;
                        content: attr(data-txt);
                        display: block;
                        width: 80px;
                        color: map-get($txt_color, primary);
                        text-align: right;

                        @at-root .--password .list_txt li::before{
                            color: map-get($txt_color, white);
                            margin-bottom: 5px;
                            font-size: 14px;
                            text-align: left;
                        }
                    }
                }

                // 單一置中訊息
                &.--bigword {
                    padding-left: 0;
                    
                    li{
                        justify-content: center;
                        padding: 0;
                        font-weight: bold;
                        font-size: 20px;

                        &::before{
                            content: none;
                        }
                    }
                }
            }
            
        }
                
        // .load
        .load{
            display: inline-block;
            position: relative;
            width: 30px;
            height: 30px;
            margin: 25px 0 10px;
            
            &::before{
                @include pos_abs(unset, 0, calc(100% + 10px), 0);
                content: attr(data-txt);
                font-size: 12px;
                margin: auto;
                white-space: nowrap;
            }
            
            div {
                @include pos_abs(0, 0, 0, 0);
                border: 2px solid map-get($bg_color, white);
                border-radius: 50%;
                box-shadow: 0 0 5px map-get($bg_color, secondary);
                opacity: 1;

                animation: load 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

                &:nth-child(2) {
                    animation-delay: -.5s;
                }
            }
            @keyframes load {
                0% {
                    transform: scale(0);
                }
                80% {
                    transform: scale(1.5);
                    opacity: 1;
                }
                100% {
                    transform: scale(1.8);
                    opacity: 0;
                }
            }
        }
    }
    

    // 彈窗功能按鈕
    .func{
        flex-wrap: wrap;
        padding: 0 10px;

        @at-root .--password .func{
            padding: 0 20px 10px;
        }


        // .func_btn
        &_btn{
            max-width: 120px;
            margin-bottom: 10px;
            
            &:nth-child(even){
                margin-left: 20px;
            }
        }
    }



    // 好路提示設定
    .roadSet{
        @include pos_abs(unset, 0, 0, unset);
        @include d_f(flex, unset, center);
        @include radius_hidden(5px);
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        max-height: 100%;
        padding: 2px;
        background: map-get($bg_color, secondary_vl);

        @include mw_md{
            position: relative;
        }
        @include mw_xs{
            max-width: 300px;
        }

        &::before{
            @include pos_abs(0, 0, 0, 0);
            content: '';
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: map-get($bg_color, black);
            margin: auto;
        }

        // .roadSet__title
        &__title{
            @include border(0 0 1px, map-get($border_color, secondary));
            position: relative;
            background: map-get($bg_color, primary_vl);
            flex: none;
            padding: 10px;
            font-weight: bold;
            text-align: center;

            .roadSet_btn{
                @include pos_abs(0, 20px, 0, unset);
                @include d_f(flex, center, flex-start);
                color: map-get($txt_color, primary);
                font-size: 14px;
                margin: auto;
                
                @include mw_xs{
                    code{
                        display: none;
                    }
                }

                &::before{
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url(../images/icon_notice.svg) no-repeat left center;
                    margin-right: 5px;
                }

                // 手指效果
                @include hoverHandler{
                    opacity: .7;
                }
            }
        }

        // .roadSet__info
        &__info{
            @include scrollbar(hidden, auto);
            @include d_f(flex, flex-start, space-around);
            align-content: flex-start;
            flex-wrap: wrap;
            flex: 1 1 100%;
            padding: 20px 20px 0;

            .--allChecked{
                @extend %hand;
                @include pos_abs(unset, unset, 20px, 20px);
                @include d_f(flex, center, center);
                color: map-get($txt_color, primary);
                font-size: 14px;
                
                @include mw_xs{
                    position: relative;
                    width: 100%;
                    justify-content: flex-start;
                    bottom: auto;
                    left: 15px;
                    margin-bottom: 10px;
                }
            }

            // .roadSet__info__item
            &__item{
                @extend %hand;
                @include d_f(flex, center, flex-start);
                @include radius_hidden(5px);
                flex-wrap: wrap;
                position: relative;
                width: 100px;
                padding: 1px;
                background: map-get($bg_color, secondary_vl);
                margin-bottom: 20px;

                &::before{
                    @include pos_abs(0, 0, 0, 0);
                    content: '';
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    background: map-get($bg_color, primary_vl);
                    pointer-events: none;
                    margin: auto;
                }

                *{
                    position: relative;
                }

                code{
                    font-size: 12px;
                }
            }
        }
    }
}