.auto_bet{
    position: relative;
    height: 100%;
    
    // 通用關閉按鈕
    .close_btn{
        @include pos_a(trb, 0, 20px, 0);
        margin: auto;
    }
    // 切換頁面通用按鈕
    .btn_list{
        @include border(1px 0 0, map-get($border_color, primary));
        background: map-get($bg_color, darkgray);
        font-size: 0;

        li{
            @extend %hand;
            @include d_f(inline-flex, center, center);
            position: relative;
            width: 25%;
            height: 40px;
            padding: 0 10px;
            font-size: 16px;

            &::after {
                @include btn_txt(center, map-get($txt_color, primary), transparent);
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary_vl_re));
            }
            
            // _on效果
            @include btn_on(map-get($txt_color, secondary));

            // 手指效果
            @include btn_hoverHandler(0, map-get($txt_color, secondary));
        }
    }

    // 下方通用按鈕
    .func{
        padding: 10px 0;
        background: map-get($bg_color, black);
    }



    // 好路追注設定 .auto_bet__title
    &__title{
        @include d_f(flex, center, center);
        position: relative;
        padding: 10px 20px;
        background: map-get($bg_color, darkbrown_gradual);
        font-size: 20px;
        font-weight: bold;

        @include mw_xs{
            font-size: 18px;
        }

        .number{
            @include pos_a(tbl, 0, 0, 20px);
            height: 20px;
            color: map-get($txt_color, white);
            font-size: 14px;
            margin: auto;

            @include mw_xs{
                left: 10px;
                font-size: 12px;
            }

            span{
                background: map-get($bg_color, black);
                padding: 2px 5px;
                border-radius: 3px;
                color: map-get($txt_color, primary);
            }
        }

        .icon_help_btn{
            @include pos_a(trb, 0, 50px, 0);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: auto;

            // 手指效果
            @include hoverHandler{
                filter: brightness(150%);
            }
        }
    }
    // .auto_bet__content
    &__content{
        height: calc(100% - 47px);
    }
}



// 好路追注說明
.good_rule{
    @include border(1px, map-get($border_color, primary));
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    
    // .good_rule__box
    &__box{
        width: 100%;
        height: 100%;
        background: map-get($bg_color, primary_vl);
    }
    // .good_rule__title
    &__title{
        position: relative;
        height: 35px;
        line-height: 35px;
        background: map-get($bg_color, secondary_vl);
        text-align: center;

        span{
            font-size: 20px;
            font-weight: bold;
        }
    }
    // .good_rule__content
    &__content{
        @include scrollbar(hidden, auto);
        width: 100%;
        height: calc(100% - 35px);
    }
    // .good_rule__txt
    &__txt{
        width: calc(100% - 200px);
        padding: 20px 0;
        margin: auto;

        @include mw_xs{
            width: 100%;
            padding: 10px;
        }
        h1{
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 30px;
        }
        h2{
            position: relative;
            padding: 5px 10px;
            background: map-get($bg_color, secondary_vl);
            margin-bottom: 20px;
            border-radius: 4px;
            text-align: center;
            
            &:before{
                content: '';
                @include pos_a(tblr, 0);
                display: block;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                background: map-get($bg_color, black);
                border-radius: 2px;
                margin: auto;
            }
        }
        span{
            position: relative;
            color: map-get($txt_color, primary);
        }
        ul{
            padding: 0 30px;
            font-size: 14px;
            margin-bottom: 30px;

            li{
                list-style-type: disc;

                + li{
                    margin-top: 10px;
                }
            }
        }
        .ps{
            padding-left: 30px;
            color: map-get($txt_color, white);
            font-weight: bold;
        }
    }
    // .good_rule__img_box
    &__img_box{
        @include d_f(flex, center, space-between);
        flex-wrap: wrap;
        width: calc(100% - 200px);
        text-align: center;
        margin: auto;

        @include mw_xs{
            width: 100%;
            padding: 10px;
            justify-content: center;
        }

        .road{
            max-width: 300px;
            width: 100%;
            background: map-get($bg_color, secondary_vl);
            padding: 2px;
            border-radius: 5px;
            margin-bottom: 20px;

            // .road__title
            &__title{
                @include border(1px, map-get($border_color , primary));
                padding: 5px;
                background: map-get($bg_color, primary_vl);
                color: map-get($txt_color, secondary02);
            }
            // .road__content
            &__content{
                padding: 10px 20px;
                background: map-get($bg_color, black);
                color: map-get($txt_color, white);
            }
            // .road__img
            .img{
                @include radius_hidden();
                position: relative;
                display: inline-block;
                width: 145px;
                border: 2px solid map-get($bg_color, secondary02);

                &::before{
                    content: attr(data-txt);
                    display: block;
                    padding: 5px 10px;
                    background: map-get($bg_color, primary_vl);
                    font-size: 14px;
                    text-align: left;
                }
            }

            .txt{
                @include border(1px 0 0, map-get($border_color, primary));
                padding-top: 5px;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}


// 以下 好路各頁資訊
.content_box{
    height: calc(100% - 41px);
    background: map-get($bg_color, black);
    color: map-get($txt_color, white);
}

// .settings start
.settings{
    @include d_f(flex, unset, flex-start);
    flex-direction: column;
    height: 100%;
    
    // .settings__list
    &__list{
        flex: none;
        height: 50px;
        font-size: 0;

        li{
            @include d_f(inline-flex, center, space-between);
            flex-direction: column;
            width: 25%;
            height: 100%;
            padding: 5px;
            font-size: 14px;
        }
    }

    .btn_list li{
        flex: none;
        width: 50%;
    }

    
    // .settings__box
    &__box{
        @include scrollbar(hidden, auto);
        flex: 1 1 100%;
        background: map-get($bg_color, darkbrown_gradual);

        .table_box{
            @include d_f(flex, flex-start, flex-start);
            flex-wrap: wrap;
            padding: 10px 20px;
            background: map-get($bg_color, black);
            color: map-get($txt_color, white);

            @at-root .--goodroad .table_box{
                display: none;
            }

            li{
                padding: 10px;
            }
        }
        .settings_checkbox{
            @include checktick(18px, 3px, 3px, map-get($bg_color , lightblue));

            span{
                border-radius: 18px;
            }

            // all狀態
            &.--all{
                justify-content: center;
                padding: 10px 0;
                background: map-get($bg_color , td_titlegray);
            }
            
        }

        // 好路選擇
        .roadList_bg{
            padding-top: 20px;
            background: map-get($bg_color, black);
        }
        .roadList{
            @include d_f(flex, center, space-between);
            flex-wrap: wrap;
            width: calc(100% - 200px);
            margin: auto;

            display: none;

            @include mw_xs{
                width: auto;
                justify-content: flex-start;
            }

            @at-root .--goodroad .roadList{
                display: flex;
            }

            // .roadList__item
            &__item{
                width: 120px;
                padding: 0 10px 20px;

                input{
                    display: none;
                }

                // .roadList__item__img
                &__img{
                    @extend %hand;
                    width: 100%;
                    display: inline-block;
                    border-radius: 3px;
                    border: 2px solid map-get($bg_color, gray);

                    &::before{
                        content: attr(data-txt);
                        display: block;
                        padding: 3px 5px;
                        background: map-get($bg_color, gray_gradual);
                        color: map-get($txt_color, white);
                        font-size: 14px;
                    }

                    img{
                        filter: grayscale(1);
                    }
                }

                input:checked + .roadList__item__img{
                    border-color: map-get($bg_color, secondary02);

                    &::before{
                        background: map-get($bg_color, darkbrown_gradual);
                    }

                    img{
                        filter: none;
                    }
                }
            }
        }
        
        // 風險設置
        .risk{
            @include border(0 0 1px, map-get($border_color, primary));

            // .risk__title
            &__title{
                @include d_f(flex, center,center);
                padding: 10px 0;
                background: map-get($bg_color , lightbrown);
            }
            
            .icon_info_btn{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 5px;

                // 手指效果
                @include hoverHandler{
                    filter: brightness(150%);
                }
            }
            // .risk__content
            &__content{
                @extend %transition;
                @include d_f(flex, center, center);
                
                height: 0;
                background: map-get($bg_color, black);
                overflow: hidden;

                @at-root .--on .risk__content{
                    @include border(1px 0 0, map-get($border_color, primary));
                    height: auto;
                    padding: 10px 45px;
                }
            }
        }

        // 下注設定
        .bet_settings{
            @include d_f(flex, unset, center
                );
            flex-wrap: wrap;
            padding: 30px 10px;

            // .bet_settings__item
            &__item{
                @include d_f(flex, center, flex-end
                );
                flex-direction: column;
                width: 25%;
                font-size: 14px;

                @include mw_xs{
                    width: 50%;
                    margin-bottom: 20px;
                }
            }
            
            .title{
                color: map-get($txt_color, primary);
            }
            .info{
                margin-bottom: 10px;

                @include mw_xs{
                    font-size: 12px;
                }
            }

            .input_style{
                width: calc(100% - 20px);
                max-width: 200px;
                background: map-get($bg_color, darkgray);
                color: map-get($txt_color, primary);
                text-align: center;
            }
        }
    }
    
    .success_message{
        flex: none;
        padding: 5px 10px;
        color: map-get($txt_color, white);
        font-weight: bold;
        text-align: center;
    }
}
// .settings end



// .record start
.record{
    @include d_f(flex, unset, flex-start);
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: map-get($bg_color, darkbrown_gradual);

    // .record__header
    &__header{
        @include d_f(flex, center, flex-end);
        @include border(0 0 1px, map-get($border_color, primary));
        flex: none;
        width: 100%;
        padding: 10px 20px;
        background: map-get($bg_color, black);

        select{
            background: map-get($bg_color, td_titlegray);
        }
    }
    // 共用表格
    .content_table_box{
        @include scrollbar(hidden, auto);
        height: calc(100% - 40px);
    }
    .content_table{
        width: 100%;
        text-align: center;
        font-size: 14px;

        .tr_title{
            background: map-get($bg_color, td_titlegray);
            th{
                padding: 10px 5px;
            }
        }
        .tr_content{
            background: map-get($bg_color, td_gray);

            td{
                padding: 5px;
            }
            & + .tr_content{
                border-top: 1px solid map-get($bg_color, black);
            }
            .td_content + .td_title{
                border-left: 1px solid map-get($bg_color, black);
            }
        }
        .td_title{
            color: map-get($txt_color, win);
            border-right: 1px solid map-get($bg_color, black);
        }
    }

    // 追注紀錄
    .bet_record{
        width: 100%;
        height: 100%;
        flex: 1 1 100%;

        .title_table{
            width: 100%;
            height: 40px;
            background: map-get($bg_color, td_titlegray);
        }

        .tr_title{
            background: map-get($bg_color, darkgray);
        }
    }

    // 設置紀錄
    .set_record{
        width: 100%;
        height: 100%;
        flex: 1 1 100%;
        
        .title_table{
            width: 100%;
            height: 40px;
            background: map-get($bg_color, lightbrown);
            border-bottom: 1px solid map-get($bg_color, secondary);
        }
    }

    // .record__footer
    &__footer{
        @include d_f(flex, center, flex-end);
        @include border(1px 0, map-get($border_color, primary));
        flex: none;
        padding: 10px 20px;
        background: map-get($bg_color, lightbrown);
        font-size: 14px;

        .total_txt{
            color: map-get($txt_color, secondary02);
            margin-right: 10px;
        }
    }

    // .record__page
    &__page{
        @include d_f(flex, center,center);
        flex: none;
        padding: 10px 20px;
        color: map-get($txt_color, secondary02);
        background: map-get($bg_color, darkgray);
        font-size: 14px;

        span + span{
            margin-left: 50px;
        }
        b{
            color: map-get($txt_color, white);
            margin: 0 5px;
        }
    }
}
// .record end



// .stat start
.stat{
    width: 100%;
    height: 100%;

    .btn_list li{
        width: 50%;
    }

    // .stat__content
    &__content{
        @include scrollbar(hidden, auto);
        width: 100%;
        height: calc(100% - 50px);
        padding: 25px 15px;
        background: map-get($bg_color , darkbrown_gradual);
    }
    // .stat__icon
    &__icon{
        @include d_f(flex, center, flex-end);
        width: 100%;
        
        span{
            position: relative;
            padding-left: 30px;
            font-size: 12px;

            &:before{
                @include pos_a(tbr, 0, 0, calc(100% - 25px));
                content: '';
                margin: auto;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                background: map-get($bg_color, yellow);
            }

            &:first-child:before{
                background: map-get($bg_color, lightblue);
            }
        }
    }
    // .stat__box
    &__box{
        @include d_f(flex, unset, flex-start);
        width: 90%;
        height: calc(100% - 51px);
        flex-wrap: wrap;
        align-content: flex-start;
    }
    // .stat__item
    &__item{
        @include d_f(flex, center, flex-start);
        width: calc(50% - 15px);
        color: map-get($txt_color, white);
        margin-bottom: 10px;

        @include mw_xs{
            width: 100%;
        }

        &:nth-child(even){
            margin-left: 15px;
            margin-right: 15px;
            @include mw_xs{
                margin-left: 0;
                margin-right: 0;
            }
        }
        .tb_num{
            @include d_f(flex, flex-end, flex-end);
            height: 100%;
            flex: 1;
            color: map-get($txt_color, primary);
            white-space: nowrap;
        }
    }
    // .stat__frq
    // .stat__rate
    &__frq,
    &__rate{
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }
    // .stat__diagram
    &__diagram{
        width: 100%;
        height: 5px;
        margin-top: 5px;
        background: map-get($bg_color, td_titlegray);
        position: relative;
    }
    // .stat__cover
    &__cover{
        @include pos_a(trbl, 0);
        background: map-get($bg_color, lightblue);

        &.--rate{
            background: map-get($bg_color, yellow);
        }
    }
}
// .stat end