.custom{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 3px;
    border-radius: 5px;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(135deg, #563D29, #F2BD79);
        z-index: -1;
        border-radius: 5px;
    }
    &__title{
        position: relative;
        @include d_f(flex, center, center);
        height: 50px;
        color: map-get($txt_color, white);
        background: linear-gradient(to bottom, #42210B, #14100B, #000);
        border-radius: 5px 5px 0 0;
        font-size: 18px;
        border-width: 0 0 2px;
        border-style: solid;
        border-image: linear-gradient(to right, #3e3123 0%, #f2d77a 20%, #ffffc5 60%, #f2d77a 80%, #3e3123 100%) 1;
        .close_btn{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            margin: auto;
        }
    }
    &__content{
        @include d_f(flex, flex-start, flex-start);
        flex-wrap: wrap;
        align-content: flex-start;
        height: calc(100% - 50px);
        background: #000;
        border-radius: 0 0 5px 5px;
        padding: 40px 14px;
        [class^="chips"]{
            position: relative;
            height: 45px;
            margin: 10px;
            cursor: pointer;
            &.--circle{
                width: 45px;
            }
            &.--rec{
                width: 55px;
            }
            &:after{
                content: '';
                position: absolute;
                top: calc(100% + 5px);
                left: 0;
                right: 0;
                width: 45px;
                height: 3px;
                margin: auto;
                border-radius: 50%;
                background: radial-gradient(circle, rgba(133, 133, 133, .5) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }
        [class^="chips_auto"]:before{
            content: '請輸入';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 12px;
            height: 16px;
            text-align: center;
        }
        .chips_auto01:before{
            color: #FFFFC5;
        }
        .chips_auto02:before{
            color: #CACACA;
        }
        .chip_txt{
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }
        .btn_bg{
            width: 190px;
            height: 40px;
            padding: 2px;
            margin: 10px auto;
            @include radius_hidden(5px);
            background: linear-gradient(to right, #f2d77a 0%, #ffffc5 20%, #f2d77a 100%);
        }
        .confirm_btn{
            @include btn_set(100%, 100%, map-get($btn_color, lightblue));
            @include radius_hidden(5px);
            &::before{
                @include btn_hoverlight01(200%);
            }
            &::after{
                @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
                font-size: 24px;
            }
            .hover_item{
                @include btn_hoveritem(map-get($btn_color, blue));
                box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                            0 0 6px map-get($bg_color, secondary) inset;
                &::before {
                    @include btn_hoverlight01(200%);
                }
            }
            // 手指效果
            @include btn_hoverHandler(1px 0, map-get($txt_color, primary));
        }
        .input_popup{
            @include pos_a(tlr, 130px, 0, 0);
            @include d_f(flex, center, center);
            width: 200px;
            height: 50px;
            border: 1px solid #F2BD79;
            border-radius: 5px;
            margin: auto;
            background: rgba(0, 0, 0, .9);
            padding-left: 15px;
            input{
                color: map-get($txt_color, white);
                width: calc(100% - 75px);
                background: transparent;
                &::placeholder{
                    color: map-get($txt_color, white);
                }
            }
            .enter_btn{
                width: 40px;
                height: 25px;
                border-radius: 5px;
                color: map-get($txt_color, white);
                background: #009FE8;
            }
            .close_btn{
                margin: 0 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
}