.frame__main__otherinside{
    &.--game_rule{
        background: map-get($bg_color, black);
        padding: 20px;
        @include mw_xs{
            padding: 0;
        }
    }
}

.game_rule{
    @include radius_hidden(5px);
    width: 100%;
    height: 100%;

    @include mw_xs{
        border-radius: 0;
    }
    // .game_rule__title
    &__title{
        @include d_f(flex, center, center);
        position: relative;
        height: 35px;
        background: map-get($bg_color, primary_vl);

        span{
            @include pos_a(trl, 0);
            @include radius_hidden(0 0 20px 20px);
            display: block;
            width: 40%;
            height: 100%;
            border: 2px solid map-get($bg_color, secondary);
            border-top: none;
            margin: auto;

            @include mw_sm{
                width: 80%;
                border-radius: 0 0 10px 10px;
            }

            &::before {
                @include pos_a(tl, 0);
                content: '';
                width: 100%;
                height: 100%;
                background: map-get($bg_color, darkgray);
            }

            &::after{
                @include pos_a(trbl, 0);
                content: attr(data-txt);
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                margin: auto;
            }
        }

        .close_btn{
            @include pos_a(trb, 0, 10px, 0);
            margin: auto;
        }
    }
    // .game_rule__content
    &__content{
        @include scrollbar(hidden, auto);
        width: 100%;
        height: calc(100% - 35px);
        padding: 0 60px 20px;
        background: map-get($bg_color, darkgray);
        
        @include mw_xs{
            padding: 0 0 20px;
        }
        .game_type{
            @include d_f(flex, center, center);
            padding: 20px 0;

            // .game_type__btn
            &__btn{
                @include btn_set(140px, 40px, map-get($btn_color, lightgary));
                border: 1px solid map-get($bg_color, secondary);

                &:first-child{
                    @include radius_hidden(5px 0 0 5px);
                }

                &:last-child{
                    @include radius_hidden(0 5px 5px 0);
                }
                
                &:before{
                    @include btn_hoverlight02;
                }

                &::after {
                    @include btn_txt(center, map-get($txt_color, white), transparent);
                    font-weight: bold;
                }

                .hover_item {
                    @include btn_hoveritem(map-get($btn_color, brown));
                    box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                    0 0 6px map-get($bg_color, secondary) inset;

                    &::before {
                        @include btn_hoverlight02;
                    }
                }

                // _on效果
                @include btn_on(map-get($txt_color, primary));

                // 手指效果
                @include btn_hoverHandler(1px, map-get($txt_color, primary));
            }
        }
        .description{
            // .description__title
            &__title{
                @include d_f(flex, center, flex-start);
                position: relative;
                font-size: 18px;
                font-weight: bold;
                height: 40px;
                z-index: 0;
                overflow: hidden;
                &:before{
                    @include pos_a(tl, 0, -20px);
                    content: '';
                    width: 200px;
                    background: map-get($bg_color, secondary_vl);
                    border-top-right-radius: 5px;
                    transform: skewX(35deg);
                    z-index: -1;
                }
                .icon_rule_chips{
                    width: 25px;
                    height: 25px;
                    margin: 0 10px;
                }
            }
        }


        // .ruleTxt__list
        .ruleTxt__list{
            color: map-get($txt_color, white);
            list-style: inherit;
            padding-left: 15px;
            @include mw_xs{
                padding: 0 30px;
            }
            
            li{
                position: relative;
                line-height: 24px;
                margin-top: 20px;
                &:before{
                    @include pos_a(tl, 6px, -10px);
                    @include triangle(8px, map-get($bg_color, secondary), right);
                    content: '';
                }
            }
        }


        .rules{

            // .rules__title
            &__title{
                @include d_f(flex, center, flex-start);
                font-size: 18px;
                font-weight: bold;
                color: map-get($txt_color, secondary02);
                margin: 40px 0 10px;
                @include mw_xs{
                    justify-content: center;
                }
                .icon_rule_poker{
                    width: 45px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
            // .rules__content
            &__content{
                display: flex;
                @include mw_sm{
                    flex-wrap: wrap;
                }
                @at-root .directions{
                    width: 50%;
                    @include mw_sm{
                        width: 100%;
                    }
                    &.--player{
                        .directions__title{
                            border-top-left-radius: 5px;
                        }
                    }
                    &.--banker{
                        .directions__title{
                            border-top-right-radius: 5px;
                        }
                    }
                    // .directions__title
                    &__title{
                        @include d_f(flex, unset, center);
                        @include border(0 0 1px, map-get($border_color, primary));
                        padding: 5px;
                        font-size: 18px;
                        color: map-get($txt_color, secondary02);
                        background: map-get($bg_color, primary_vl);
                        margin-bottom: 3px;

                        @include mw_sm{
                            border-radius: 5px 5px 0 0;
                        }
                    }
                    // .directions__item
                    &__item{
                        @include d_f(flex, center, space-between);
                        height: 35px;
                        background: map-get($bg_color, td_gray);
                        border-top: 1px solid map-get($bg_color, td_titlegray);

                        &:first-child{
                            background: map-get($bg_color, td_titlegray);
                        }

                        span{
                            @include d_f(flex, center, center);
                            width: 70%;
                            height: 100%;
                            padding: 5px;
                            text-align: center;

                            @include mw_xs{
                                font-size: 14px;
                            }

                            &:first-child{
                                width: 35%;
                            }

                            &:not(:last-child){
                                border-right: 1px solid map-get($bg_color, black);
                            }
                        }
                        .txt_small{
                            font-size: 13px;
                        }
                        &:first-child{
                            height: 40px;
                            background: map-get($txt_color, td_titlegray);
                        }
                    }
                    // directions__points
                    &__points{
                        color: map-get($txt_color, white);
                    }
                    & + .directions{
                        margin-left: 5px;
                        @include mw_sm{
                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }
                }
            }
            &.--ba{
                .rules__content{
                    flex-wrap: wrap;
                }
                .directions__title,
                .directions__item{
                    width: 100%;
                    span{
                        width: calc(100% / 3);
                        @include d_f(flex, center, center);
                        text-align: center;
                    }
                }
                .directions__title{
                    border-radius: 5px 5px 0 0;
                }
                .directions__item{
                    height: auto;
                    min-height: 32px;
                    &:last-child{
                        min-height: 15px;
                    }
                }
            }
        }
    }
}