.frame__main__otherinside{
    &.--game_rule{
        background: map-get($bg_color, black);
        padding: 50px 80px;
        @include mw_xs{
            padding: 0;
        }
    }
}

.game_rule{
    width: 100%;
    height: 100%;
    // game_rule__title
    &__title{
        position: relative;
        @include d_f(flex, center, center);
        width: 100%;
        height: 35px;
        color: #F1BE7C;
        font-size: 18px;
        background: map-get($bg_color, primary_vl);
        .close_btn{
            @include btn_set(30px, 30px, url(../images/icon_x.svg) no-repeat center);
            @include pos_abs(0, 5px, 0, auto);
            margin: auto;
        }
    }
    // game_rule__content
    &__content{
        width: 100%;
        height: calc(100% - 35px);
        padding: 0 70px 20px;
        background: #1a1a1a;
        overflow-y: auto;
        @include mw_md{
            padding: 0 60px 20px;
        }
        @include mw_xs{
            padding: 0 0 20px;
        }
        .game_type{
            @include d_f(flex, center, center);
            padding: 20px 0;
            // game_type__btn
            &__btn{
                @include btn_set(140px, 40px, #4D4D4D);
                border: 1px solid #F5C78D;
                color: #BBB;
                font-weight: bold;
                &.--on{
                    color: #EFD8A8;
                    background: map-get($btn_color, secondary);
                }
                &:first-child{
                    border-radius: 5px 0 0 5px;
                }
                &:last-child{
                    border-radius: 0 5px 5px 0;
                }
                &:before{
                    @include btn_hoverlight02;
                }
                &::after {
                    @include btn_txt(center, #ccc, transparent);
                    font-weight: bold;
                }
                .hover_item {
                    @include btn_hoveritem(map-get($btn_color, brown));
                    box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                    0 0 6px map-get($bg_color, secondary) inset;
                    &::before {
                        @include btn_hoverlight02;
                    }
                }
                // _on效果
                @include btn_on(map-get($txt_color, primary));

                // 手指效果
                @include btn_hoverHandler(2px, map-get($txt_color, primary));
            }
        }
        .description{
            // description__title
            &__title{
                @include d_f(flex, center, flex-start);
                position: relative;
                font-size: 18px;
                font-weight: bold;
                height: 40px;
                z-index: 0;
                overflow: hidden;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -20px;
                    right: 0;
                    width: 200px;
                    background: map-get($bg_color, secondary_vl);
                    border-top-right-radius: 5px;
                    transform: skewX(35deg);
                    z-index: -1;
                }
                .icon_rule_chips{
                    width: 25px;
                    height: 25px;
                    margin: 0 10px;
                }
            }
            // description__list
            &__list{
                color: #fff;
                list-style: inherit;
                padding-left: 65px;
                @include mw_xs{
                    padding: 0 30px;
                }
            }
            // description__item
            &__item{
                position: relative;
                font-weight: bold;
                margin-top: 10px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: -15px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 0 5px 8.7px;
                    border-color: transparent transparent transparent #fcfdaf;
                }
            }
        }
        .rules{
            padding-left: 50px;
            @include mw_xs{
                padding-left: 0;
            }
            // rules__title
            &__title{
                @include d_f(flex, center, flex-start);
                font-size: 18px;
                font-weight: bold;
                color: #F3BD77;
                margin: 10px 0;
                @include mw_xs{
                    justify-content: center;
                }
                .icon_rule_poker{
                    width: 45px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
            // rules__content
            &__content{
                display: flex;
                @include mw_ms{
                    flex-wrap: wrap;
                }
                @at-root .directions{
                    width: 50%;
                    @include mw_ms{
                        width: 100%;
                    }
                    &.--player{
                        .directions__title{
                            border-top-left-radius: 5px;
                        }
                    }
                    &.--banker{
                        .directions__title{
                            border-top-right-radius: 5px;
                        }
                    }
                    // directions__title
                    &__title{
                        display: flex;
                        justify-content: center;
                        font-size: 18px;
                        color: #F2BD79;
                        background: map-get($bg_color, primary_vl);
                        border-width: 0 0 2px 0;
                        border-style: solid;
                        border-image: linear-gradient(to right, #37251C 0%, #4C3727 20%, #866C49 60%, #4C3727 80%, #37251C 100%) 1;
                        @include mw_ms{
                            border-radius: 5px 5px 0 0;
                        }
                    }
                    // directions__item
                    &__item{
                        @include d_f(flex, center, space-between);
                        height: 32px;
                        background: #808080;
                        border: 1px solid #737373;
                        span{
                            @include d_f(flex, center, center);
                            width: 50%;
                            text-align: center;
                        }
                        .txt_small{
                            font-size: 12px;
                            padding-right: 10px;
                        }
                        &:first-child{
                            height: 40px;
                            background: #4D4D4D;
                        }
                        &:last-child{
                            height: 15px;
                            background: #4D4D4D;
                        }
                    }
                    // directions__points
                    &__points{
                        color: #fff;
                    }
                    & + .directions{
                        margin-left: 5px;
                        @include mw_ms{
                            margin-left: 0;
                            margin-top: 10px;
                        }
                    }
                }
            }
            // rules__list
            &__list{
                color: #fff;
                list-style: inherit;
                padding-left: 20px;
                @include mw_xs{
                    padding: 0 30px;
                }
            }
            // rules__item
            &__item{
                position: relative;
                font-weight: bold;
                margin-top: 10px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: -15px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 0 5px 8.7px;
                    border-color: transparent transparent transparent #fcfdaf;
                }
                ul{
                    padding-left: 20px;
                }
                &.txt_red{
                    color: hsl(0, 100%, 80%);
                }
            }
            &.--ba{
                .rules__content{
                    flex-wrap: wrap;
                }
                .directions__title,
                .directions__item{
                    width: 100%;
                    span{
                        width: calc(100% / 3);
                        @include d_f(flex, center, center);
                        text-align: center;
                    }
                }
                .directions__title{
                    justify-content: space-between;
                    border-radius: 5px 5px 0 0;
                }
                .directions__item{
                    height: auto;
                    min-height: 32px;
                    &:last-child{
                        min-height: 15px;
                    }
                }
            }
        }
    }
}