.lobby{
    // lobby_api188
    &_api188{
        padding: 90px 90px 0;
        width: 100%;
        height: 100%;
        @include scrollbar(hidden, auto);
        @include mw_md{
            padding: 35px 10px;
        }
    }
    // lobby_item
    &_item{
        width: 100%;
        .item{
            // item__title
            &__title{
                position: relative;
                width: 100%;
                height: 80px;
                z-index: 0;
                @include mw_md{
                    height: 50px;
                }
                &:before{
                    content: '';
                    @include pos_a(tl, -50px, 0);
                    width: 1345px;
                    height: 200px;
                    background: url(../images/ba_title.png) top left/contain no-repeat;
                    @include mw_md{
                        top: -25px;
                        width: 670px;
                        height: 100px;
                    }
                }
                &:after{
                    content: '';
                    @include pos_a(tl, 0);
                    width: 1345px;
                    height: 100%;
                    transform: skewX(45deg);
                    background: linear-gradient(to right, rgba(255, 255, 197, 0) 0%, #f2d77a 10%, rgba(180, 124, 36, 0.1) 50%, rgba(180, 124, 36, 0) 70%);
                    z-index: -1;
                }
                @at-root .--other .item__title:before{
                    background-image: url(../images/other_title.png);
                }
                @at-root .--elec .item__title:before{
                    background-image: url(../images/elec_title.png);
                }
                .title__txt{
                    @include pos_a(tl, 15px, 100px);
                    position: relative;
                    display: inline-block;
                    font-size: 45px;
                    font-weight: bold;
                    color: transparent;
                    text-shadow: 2px 3px 0px #161616, 3px 5px 3px #fbd20b, 0 0 5px #fbd20b, -1px 0 2px #fbe90b, 0 0 5px #ff552f;
                    transform: skew(5deg);
                    @include mw_md{
                        top: 0;
                        font-size: 30px;
                    }
                    &:before{
                        @include pos_a(tl, 0);
                        @include bg_txt(linear-gradient(150deg, #3e3e3e 10%, #fff 40%, #fff 70%, #737373 100%), inherit);
                        content: attr(data-txt);
                        text-shadow: none;
                        @include mw_md{
                            font-size: 30px;
                        }
                    }
                    &:nth-child(2){
                        font-size: 20px;
                        &:before{
                            top: 1px;
                            @include mw_md{
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            // item__content
            &__content{
                @include d_f(flex, flex-start,flex-start);
                position: relative;
                width: 100%;
                max-width: 1020px;
                flex-wrap: wrap;
                margin: 0 auto 40px;
                @include mw_lg{
                    max-width: 765px;
                }
                @include mw_sm{
                    max-width: 610px;
                }
                @include mw_xs{
                    justify-content: center;
                }
                @at-root .--ba .item__content{
                    max-width: 990px;
                    @include mw_lg{
                        max-width: 660px;
                    }
                }
            }
            // item__table
            &__table{
                position: relative;
                width: 300px;
                height: 175px;
                margin: 10px 15px;
                padding: 0 15px 10px;
                border-radius: 5px;
                background: linear-gradient(to bottom, #1a1a1a, #4d4d4d);
                &:after{
                    content: '';
                    @include pos_a(tl, 0);
                    width: 15px;
                    height: 15px;
                    background: url(../images/table_decoration.svg) center/contain no-repeat;
                }
                .table{
                    // table__num
                    &__num{
                        @include d_f(flex, center, center);
                        // 如果沒用-webkit-box蓋掉flex webkit核心的瀏覽器在行動裝置上字體會無法顯示
                        display: -webkit-box;
                        -webkit-text-fill-color: transparent;
                        color: transparent;
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #ffffad), color-stop(70%, #dabf7a), to(#b6805c));
                        background: linear-gradient(#ffffad 40%, #dabf7a 70%, #b6805c 100%);
                        -webkit-background-clip: text;
                        background-clip: text;
                        font-size: 32px;
                        width: 100%;
                        height: 50px;
                        font-weight: bold;
                    }
                    // table__content
                    &__content{
                        width: 100%;
                        height: 105px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        @at-root .hover_mask{
                            @include pos_a(bl, 0);
                            cursor: pointer;
                            width: 100%;
                            height: 0;
                            opacity: 0;
                            border: 1px solid #ffffc4;
                            border-radius: 5px;
                            box-shadow: 0 0 20px #b37c24 inset;
                            background: rgba(0, 0, 0, .8);
                            @at-root .item__table,
                            .item__cube{
                                @include hoverHandler{
                                    .hover_mask{
                                        height: 100%;
                                        opacity: 1;
                                        transition: height .3s, opacity .3s;
                                    }
                                }
                            }
                            .mask__btn{
                                @include btn_set(110px, 40px, linear-gradient(to bottom, #a46b2a 0%, #f8df72 50%, #fffeae 100%));
                                @include pos_a(trbl, 0);
                                border: 1px solid #ffffc4;
                                border-radius: 3px;
                                margin: auto;
                                &::before {
                                    @include btn_hoverlight01(200%);
                                }
                                &::after {
                                    @include btn_txt(center, map-get($txt_color, black), none);
                                    font-size: 16px;
                                }
                                .hover_item {
                                    // @include btn_hoveritem(linear-gradient(to top, #a46b2a 0%, #f8df72 50%, #fffeae 100%));
                                    box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                                        0 0 6px map-get($bg_color, secondary) inset;

                                    &::before {
                                        @include btn_hoverlight01(200%);
                                    }
                                }
                                // 手指效果
                                @include btn_hoverHandler(1px, map-get($txt_color, black));
                            }
                        }
                    }
                }
            }
            // item__cube
            &__cube{
                width: 225px;
                height: 225px;
                margin: 15px 15px 0;
                @include mw_sm{
                    margin: 40px 40px 0;
                }
                @include mw_xs{
                    margin: 15px 15px 0;
                }
                .cube{
                    // cube__content
                    &__content{
                        position: relative;
                        width: 100%;
                        height: 180px;
                        border-radius: 5px;
                        background: #1a1a1a;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    // cube__title
                    &__title{
                        @include d_f(flex, center, center);
                        width: 100%;
                        height: calc(100% - 180px);
                        font-size: 22px;
                        color: map-get($txt_color, white);
                    }
                }
            }
        }
    }
}