// 視訊
.--multi .video {

    // .video__frame 視訊iframe
    &__frame,
    &__pause,
    .video__function {
        width: 100%;
        height: calc(100% - 50px);
        vertical-align: middle;
    }

    // .video__pause 視訊暫停傳送
    &__pause {
        @include pos_a(trbl, 0);
        @include d_f(flex, center, center);
        background: map-get($bg_color, black);
        color: map-get($txt_color, yellow);
        font-size: 20px;
    }

    // .video__function
    &__function {
        @include pos_a(trbl, 0, 0, unset, 0);
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;

        &::before{
            @extend %txtshadow;
            @include border(1px 0, map-get($border_color, primary));
            content: attr(data-txt);
            width: 100%;
            background: map-get($bg_color, table_no);
            padding: 2px 0;
            text-align: center;
        }

        // .video__function__switch 免傭&限額查詢按鈕
        &__switch {
            width: 130px;
            height: 80px;
            background: map-get($bg_color, black_alpha);

            @at-root .mode_switch {
                position: relative;
                height: 50%;

                &:before {
                    content: attr(data-btn);
                    @include pos_a(tbl, 0, 0, 10px);
                    @include fz(x-small);
                    margin: auto;
                    height: 18px;
                }

                // .mode_switch__btn
                &__btn {
                    @extend %hand;
                    @extend %transition;
                    @include pos_a(trb, 0, 10px, 0);
                    display: block;
                    width: 50px;
                    height: 20px;
                    background: map-get($bg_color, gold);
                    border-radius: 50px;
                    margin: auto 0;

                    .checkbox_bg {
                        @include pos_a(trbl, 0);
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        background: map-get($bg_color, primary_vl);
                        border-radius: 50px;
                        margin: auto;
                    }

                    input[type="checkbox"]:checked+.checkbox_bg {
                        background: map-get($bg_color, no_commission);
                    }

                    span {
                        @extend %transition;
                        @include pos_a(tlb, 0, 2px, 0);
                        display: block;
                        width: 14px;
                        height: 14px;
                        background: map-get($bg_color, gray_gradual);
                        border-radius: 50%;
                        border: 1px solid map-get($bg_color, darkgray);
                        margin: auto;
                    }

                    input[type="checkbox"]:checked~span {
                        transform: translateX(calc(200% + 3px));
                        background: map-get($bg_color, gold);
                        border: 1px solid map-get($bg_color, secondary);
                    }
                }
            }
        }

        // .video__function__poker
        &__poker {
            @include pos_a(bl, 0);
            width: 100%;
            height: 200px;
            background: map-get($bg_color, black_alpha);

            &::before{
                @include pos_a(trl, 10px, 0, 0);
                @include fz(medium);
                content: attr(data-txt);
                width: 100%;
                color: map-get($txt_color, win);
                text-align: center;
            }
        }
    }

    // 籌碼
    .order__chips {
        height: 50px;
        justify-content: center;

        li {
            width: 40px;
            height: 40px;
            margin: 0 10px;
            
            &.--on {
                width: 55px;
                height: 55px;
                transform: translate3d(0, -20%, 0);
            }

            // 手指效果
            @include hoverHandler {
                width: 55px;
                height: 55px;
                transform: translate3d(0, -20%, 0);
            }
        }
    }
}

// 下注資訊&選擇桌次
.selectTB{
    display: flex;

    .detail__box{
        flex: 0 0 200px;

        @include mw_lg{
            height: 100%;
        }

        &__title{
            font-size: 14px;

            @include mw_lg{
                display: flex;
            }
        }
    }

    // 好路追注按鈕
    .goodroad_btn{
        width: 25px;

        @at-root .--on + .goodroad_btn{
            filter: brightness(0%);
        }
    }
    .goodroadList__item__go,
    .goodroadList__item__tb{
        @include mw_lg{
            flex: 0 0 50px;
            font-size: unset;
        }
    }

    // .selectTB__table
    &__table{
        flex: 1 1 100%;
    }

    .table {
        // .table__title
        &__title {
            @extend %txtshadow;
            @include d_f(flex, center, center);
            height: 35px;
            color: map-get($txt_color, primary);

            &::before{
                content: none;
            }

            .clear_btn {
                @include btn_set(80px, 25px, map-get($btn_color, lightred));
                @include pos_a(trb, 0, 5px, 0);
                border: 1px solid map-get($bg_color, secondary);
                border-radius: 3px;
                margin: auto;

                &::before {
                    @include btn_hoverlight01(200%);
                }

                &::after {
                    @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
                    @include fz(x-small);
                }

                .hover_item {
                    @include btn_hoveritem(map-get($btn_color, red));
                    box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                        0 0 6px map-get($bg_color, secondary) inset;

                    &::before {
                        @include btn_hoverlight01(200%);
                    }
                }

                // 手指效果
                @include btn_hoverHandler(1px, map-get($txt_color, primary));
            }
        }

        // .table__content
        &__content {
            @include d_f(flex, flex-start, flex-start);
            @include scrollbar(hidden, auto);
            position: relative;
            width: 100%;
            height: calc(100% - 35px);
            align-content: flex-start;
            flex-wrap: wrap;
            padding: 5px 0;
            background: map-get($bg_color, black);
        }

        // .table__item
        &__item {
            position: relative;
            width: calc(100% / 2 - 10px);
            height: 140px;
            margin: 5px;
            border-radius: 5px;
            border: 2px solid map-get($bg_color, gray);

            @at-root .--on.table__item{
                border-color: map-get($bg_color, secondary02);
            }

            @include hoverHandler{
                .mask__unselected {
                    display: flex;
                }
            }

            .itemBox {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                flex-direction: column;
                overflow: hidden;
                -webkit-user-select: none;

                // .itemBox__title
                &__title {
                    @extend %txtshadow;
                    @include d_f(flex, center, center);
                    position: relative;
                    width: 100%;
                    height: 40px;
                    background: map-get($bg_color, gray_gradual);
                    color: map-get($txt_color, white);
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;

                    @at-root .--on.table__item .itemBox__title {
                        background: map-get($bg_color, alert_bg);
                    }
                }

                // .itemBox__icon
                &__icon {
                    @include pos_a(t, 0);

                    &:first-child {
                        left: 5px;
                    }

                    &:nth-child(2) {
                        right: 30px;
                    }

                    &.--i_vip{
                        width: 35px;
                        height: 100%;
                        background: url(../images/icon_vip.svg) no-repeat center / contain;
                    }

                    &.--i_fast,
                    &.--i_ex{
                        width: 18px;
                        height: 100%;
                        background: url(../images/icon_fast.svg) no-repeat center / contain;
                    }

                    &.--i_ex {
                        background: url(../images/icon_exclusive.svg) no-repeat center /contain;
                    }
                }

                // .itemBox__video_btn
                @at-root .video_btn {
                    @include pos_a(tr, 0, 3px);
                    width: 25px;
                    height: 100%;
                    background: url(../images/icon_video_enable.svg) no-repeat center / 80%;

                    >span {
                        @include pos_a(tr, 30px, 0);
                        @include border(0 0 1px, map-get($border_color, primary));
                        padding: 2px 5px;
                        color: map-get($txt_color, primary);
                        background: map-get($bg_color, black_alpha);
                        white-space: nowrap;
                        z-index: 2;

                        display: none;
                    }

                    @include hoverHandler {
                        background-size: 100%;

                        span {
                            display: block;
                        }
                    }
                }

                // .itemBox__content
                &__content {
                    position: relative;
                    width: 100%;
                    height: calc(100% - 40px);
                    background: map-get($bg_color, white);

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }

                // .itemBox__mask
                &__mask {
                    @include pos_a(trbl, 0);

                    @at-root .mask {

                        // .mask__selected
                        &__selected {
                            @include d_f(flex, center, center);
                            width: 100%;
                            height: 100%;
                            background: map-get($bg_color, black_alpha);

                            b {
                                @include d_f(flex, center, center);
                                width: 35px;
                                height: 35px;
                                color: map-get($txt_color, secondary);
                                background: map-get($bg_color, gold);
                                border-radius: 50%;
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }

                        // .mask__unselected 桌放置位置
                        &__unselected {
                            @include d_f (flex, center, space-between);
                            flex-wrap: wrap;
                            width: 100%;
                            height: 100%;
                            padding: 3px 10px;
                            background: map-get($bg_color, black_alpha);
                            display: none;

                            li {
                                @extend %hand;
                                @include fz(x-small);
                                width: calc(50% - 5px);
                                height: 25px;
                                padding: 3px 5px;
                                border: 1px solid map-get($bg_color, secondary02);
                                border-radius: 5px;
                                background: map-get($bg_color, gold);
                                color: map-get($txt_color, secondary);
                                font-weight: bold;
                                text-align: center;

                                @include hoverHandler {
                                    color: map-get($txt_color, primary);
                                    background: map-get($bg_color, table_no);
                                }
                            }
                        }

                        // .mask__dragon 好路出現
                        &__dragon {
                            width: 100%;
                            height: 100%;
                            background: url(../images/img_dragon.gif) no-repeat center / 150% map-get($bg_color, black);
                            opacity: 0.7;
                        }

                        // .mask__lock 超過限制鎖頭
                        &__lock {
                            width: 100%;
                            height: 100%;
                            background: url(../images/icon_locked.svg) no-repeat center / 30% map-get($bg_color, black_alpha);
                            filter: brightness(200%);
                        }
                    }
                }
            }
        }
    }
}

// 空桌區
.betArea {
        @include d_f(flex, unset, center);
        @include scrollbar(hidden, auto);
        position: relative;
        padding-top: 30px;
        background: map-get($bg_color, black);
        flex-wrap: wrap;

    // .betArea__title 顯示金額
    &__title{
        @include pos_a(tl, 0);
        @include d_f(flex, center, space-around);
        @include border(0 0 1px, map-get($border_color, primary));
        width: 100%;
        padding: 2px 5px;
        font-size: 14px;

        li::before {
            content: attr(data-txt);
            color: map-get($txt_color, white);
        }
    }

    // .betArea__box .betArea__empty
    &__box,
    &__empty{
        position: relative;
        height: 220px;
        background: map-get($bg_color, black);
    }

    // .bet__box 桌次區塊
    &__box {
        @include d_f(flex, center, center);
        width: 300px;
    }

    // .bet__empty 空桌時
    .empty{
        @include d_f(flex, unset, space-between);
        flex-wrap: wrap;
        position: relative;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: 2px solid map-get($bg_color, td_gray);
        border-radius: 5px;
        color: map-get($txt_color, gray);

        &:before{
            content: '';
            @include pos_a(trl, 80px, 0, 0);
            width: 2px;
            height: calc(100% - 100px);
            margin: auto;
            background: map-get($bg_color, td_gray);
        }
        // .empty__title
        &__title{
            position: relative;
            width: 100%;
            height: 60px;
            line-height: 60px;
            border-bottom: 2px solid map-get($bg_color, td_gray);
            font-weight: bold;
            text-align: center;
            
            &:first-letter {
                font-size: 32px;
            }

            b{
                @include pos_a(tbl, 0, 0, 15px);
                @include d_f(flex, center, center);
                margin: auto;
                width: 40px;
                height: 40px;
                font-size: 24px;
                border: 3px solid map-get($bg_color, secondary);
                border-radius: 50%;
                color: map-get($txt_color, primary);
            }
            
        }
        // .empty__content
        &__content{
            @include d_f(flex, center, center);
            flex-direction: column-reverse;
            width: 50%;
            height: calc(100% - 60px);
            font-size: 12px;

            &::before{
                content: attr(data-txt);
                font-size: 30px;
            }
        }
    }
    // .bet__frame
    &__frame{
        @include pos_a(tl, 0);
        width: 100%;
        height: 100%;
    }
}

// 下注區
.rapid{
    // .rapid_multi
    &_multi{
        @include radius_hidden(5px);
        padding: 1px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: map-get($bg_color, gold);
    }
    // .rapid__title
    &__title{
        @include d_f(flex, unset, flex-start);
        @include radius_hidden(5px 5px 0 0);
        @include border(0 0 1px 0, map-get($border_color, primary));
        width: 100%;
        height: 25px;
        background: map-get($bg_color, primary_vl);

        .number{
            @include d_f(flex, center, flex-start);
            flex: none;
            position: relative;
            padding: 0 10px;
            background: map-get($bg_color, gold);
            transform: skewX(25deg);
            left: -5px;

            i{
                @include d_f(flex, center, center);
                width: 20px;
                height: 20px;
                background: map-get($bg_color, primary_vl);
                border-radius: 50%;
                color: map-get($txt_color, white);
                font-weight: bold;
                margin-right: 3px;
                transform: skewX(-25deg);
            }
            span{
                display: inline-block;
                color: map-get($txt_color, secondary);
                font-weight: bold;
                letter-spacing: -1px;
                transform: skewX(-25deg);
            }
        }

        .amount{
            @include d_f(flex, center, flex-start);
            flex: none;
            color: map-get($txt_color, primary);
            font-size: 12px;

            &::before{
                content: attr(data-txt);
                margin-right: 3px;
            }

            span{
                display: block;
                padding: 2px 5px;
                background: map-get($bg_color, black);
                color: map-get($txt_color, white);
            }
        }

        .status{
            @include d_f(flex, center, flex-end);
            flex: 1 1 100%;
            position: relative;
            padding-right: 3px;

            .video_btn{
                right: auto;
                left: 3px;
            }

            // .status__txt
            &__txt{
                color: map-get($txt_color, secondary02);
                font-weight: bold;
                
                &.--count{
                    font-size: 24px;
                }
            }

            .close_btn{
                margin-left: 5px;
            }
        }
    }

    // .rapid__content
    &__content{
        @include d_f(flex, flex-start, flex-start);
        @include radius_hidden(0 0 5px 5px);
        width: 100%;
        height: calc(100% - 25px);
        background: map-get($bg_color, black);
    }

    // .rapid__content 下注區塊
    &__bet{
        position: relative;
        flex: 1 1 100%;

        .area_b, .area_p, .area_t, .area_bp, .area_pp{
            padding: 1px;
            font-size: 30px;
        }
        .area_t, .area_bp, .area_pp{
            font-size: 20px;
        }

        // 結果統計
        .result{
            @include d_f(flex, center, space-around);
            padding-right: 10px;
            height: 13px;

            li{
                position: relative;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: map-get($bg_color, play);
                
                &.--pair::before{
                    @include pos_a(tl, -2px, -2px);
                        content: '';
                        width: 3px;
                        height: 3px;
                        background: map-get($bg_color, play);
                        border-radius: 3px;
                        border: 1px solid map-get($bg_color, white);
                    }

                &:nth-child(3n + 1){
                    background: map-get($bg_color, bank);

                    &.--pair::before{
                        background: map-get($bg_color, bank);
                    }
                }
                &:nth-child(3){
                    background: map-get($bg_color, tie);
                }

                &::after{
                    @include pos_a(tl, -2px, calc(100% + 2px));
                    content: attr(data-num);
                    color: map-get($txt_color, white);
                    font-size: 12px;
                }
            }
        }

        // 珠路
        .road{
            height: 50px;
            background: map-get($bg_color, white);
        }

        // 開牌結果
        .bet__mask{
            @include pos_a(trbl, 0);
            padding: 5px 10px 30px;
            background: map-get($bg_color, black_alpha);
            text-align: center;

            &::before{
                @include bg_txt(map-get($bg_color, gold), 24px);
                content:attr(data-txt);
                font-weight: bold;
            }

            .result__box{
                height: calc(100% - 30px);
                align-items: flex-end;
            }
            
            .result__box__img{
                background-image: url(../images/bkpl_0.svg);
            }

            .txt{
                @include mw_xs{
                    font-size: 30px;
                }
            }

            .--banker{
                justify-content: flex-end;
            }
        }
    }

    // .rapid__aside 下注按鈕
    &__aside{
        @include d_f(flex, unset, space-between);
        flex-direction: column;
        flex: none;
        width: 70px;
        height: 100%;
        padding: 3px;

        
        // 靴局
        .aside__info{
            @include d_f(flex, center, space-between);
            width: 100%;
            font-size: 12px;

            span{
                background: map-get($bg_color, black);
                color: map-get($txt_color, primary);

                &::before{
                    content: attr(data-txt);
                    color: map-get($txt_color, white);
                    margin: auto;
                }
            }
            
        }
        
        // 確定續押取消
        .order__function{
            flex-direction: column;
            height: auto;

            .function_btn{
                @include radius_hidden();
                width: 100%;
                height: 35px;
                border: 1px solid map-get($bg_color, secondary);

                &::after{
                    font-size: 14px;
                }

                // 手指效果
                @include btn_hoverHandler(1px, map-get($txt_color, primary));
            }
        }

        // 莊閒問路
        .aside__road_btn{
            @include btn_set(100%, 25px, map-get($btn_color, lightblue));
            @include radius_hidden();
            border: 1px solid map-get($bg_color, secondary);

            &::before{
                @include btn_hoverlight01(200%);
            }
            &::after{
                @include btn_txt(center, map-get($txt_color, white), map-get($txt_color, shadow));
                font-size: 12px;

            }
            .hover_item{
                @include btn_hoveritem(map-get($btn_color, blue));
                box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                            0 0 6px map-get($bg_color, secondary) inset;
                &::before {
                    @include btn_hoverlight01(200%);
                }
            }

            // 莊問路
            &:nth-child(2){
                background: map-get($btn_color, orange);
                
                .hover_item {
                    background: map-get($btn_color, lightorange);
                }
            }

            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, white));
        }
    }


    // .rapid__loading
    &__loading{
        @include load_set;
        position: fixed;
        width: calc(100% - 2px);        
        height: calc(100% - 2px);
        background: map-get($bg_color, black);
        border-radius: 5px;
    }
}