// 語系字體尺寸(自行新增修改$txt_size需要的語系內容與字型大小
$txt_size: (
    zh: (
        xxx-large: 60px,
        xx-large: 50px,
        x-large: 40px,
        large: 30px,
        medium: 24px,
        normal: 16px,
        small: 14px,
        x-small: 12px
    ),
    en: (
        xxx-large: 60px,
        xx-large: 50px,
        x-large: 40px,
        large: 30px,
        medium: 24px,
        normal: 14px,
        small: 12px,
        x-small: 12px
    )
);

@mixin fz($size: "normal") {
    @at-root & {
        $zh: map-get($txt_size, zh);
        font-size: map-get($zh, $size);
    }

    @at-root .en & {
        $en: map-get($txt_size, en);
        font-size: map-get($en, $size);
    }
}



// 字體顏色
$txt_color: (
    primary: #fbe2b0,
    secondary: #240913,
    secondary02: #f2bd79,
    gray: #756e6e,
    black: #000,
    white: #fff,
    red: #f00,
    yellow: #fc0,
    shadow: hsla(354, 29%, 7%, 0.5),
    warn: #ff5f67,
    bank: #ff302a,
    play: #0068ed,
    tie: #009245,
    win: #f2d77a
);
// 背景色
$bg_color: (
    primary: linear-gradient(to right, #3e3123 50%, #140a0c 100%),
    primary_vl: linear-gradient(to bottom, #3e3123 0%, #140a0c 100%),
    secondary: #fbe2b0,
    secondary02: #f2bd79,
    secondary_vl: linear-gradient(to bottom, #f2bd79 0%, #3e3123 100%),
    gold: linear-gradient(to bottom, #f2d77a 0%, #ffffc5 20%, #f2bd79 100%),
    gold_gradual: radial-gradient(circle at center ,rgba(#fefdb3,.0),rgba(#fefdb3,.0) 35%,rgba(#fefdb3,.1) 50%, rgba(#ffd300,.15) 65%,rgba(#ffd300,.15) 75%,rgba(#fefdb3,.025) 90%, rgba(#fefdb3,.0) 100%),
    white: #fff,
    black: #000,
    gray: #b3b3b3,
    darkgray: #0f0f0f,
    td_titlegray: #4d4d4d,
    td_gray: #808080,
    brown: #240913,
    lightbrown: #391C09,
    brown_gradual: linear-gradient(to right, #f2bd79 0%, #563d29 70%, #000 100%),
    brown_gradual_vl: linear-gradient(to top, #563d29 30%, #000 100%),
    darkbrown_gradual: linear-gradient(to bottom, #42210b 30%, #000 100%),
    gray_gradual: linear-gradient(to top, #4d4d4d 30%, #808080 100%),
    alert_bg: linear-gradient(to bottom, #42210b 30%, #000 100%),
    login_bg: linear-gradient(to left, #42210b 30%, #000 100%),
    bank_gradual_vl: linear-gradient(to bottom, #f00 0%, #650008) 80%,
    play_gradual_vl: linear-gradient(to bottom, #0072fa 0%, #0031ab) 80%,
 red: #c11615,
    yellow: #fc0,
    lightblue: #00a0ed,
    green: #115f24,
    lightgreen: #00d345,
    order_area: #224d4d,
    nocon_area: #482989,
    bank: #ff302a,
    play: #0068ed,
    tie: #009245,
    win: linear-gradient(to bottom, rgba(255, 255, 199, .7) 60%, rgba(160, 102, 42, .7) 100%),
    black_alpha: rgba(0, 0, 0, 0.5),
    secondary_alpha: #fdfcb350,
);

// 按鈕色
$btn_color: (
    primary: linear-gradient(to right, #f2bd79 60%, #563d29 100%),
    primary_vl: linear-gradient(to top, #f2bd79 20%, #563d29 100%),
    primary_vl_re: linear-gradient(to bottom, #f2bd79 20%, #563d29 100%),
    secondary: linear-gradient(to right, #f2bd79 0%, #563d29 70%, #000 100%),
    black: linear-gradient(to right, #333 50%, #000 80%),
    lightblack: linear-gradient(to right, #666 50%, #000 80%),
    lightgary: linear-gradient(to right, #444 80%, #333 100%),
    brown: linear-gradient(to right, #563d29 50%, #000 100%),
    brown_vl: linear-gradient(to top, #3e3123 20%, #000 100%),
    blue: linear-gradient(to right, #005fd7 0%, #0b0e25 100%),
    lightblue: linear-gradient(to right, #00a0ed 0%, #111269 100%),
    green: linear-gradient(to right, #00d345 0%, #110024 100%),
    lightgreen: linear-gradient(to right, #14b045 0%, #113924 100%),
    red: linear-gradient(to right, #ff302a 0%, #0e0000 90%),
    lightred: linear-gradient(to right, #ff5f67 0%, #2d0000 100%),
    orange: linear-gradient(to right, #f36428 0%, #440010 100%),
    lightorange: linear-gradient(to right, #ff901d 0%, #991b10 100%),
    purple: linear-gradient(to right, #8260fa 0%, #000 100%),
    lightpurple: linear-gradient(to right, #c69aff 0%, #19004d 100%),
    gold: linear-gradient(to right, #f2d77a 0%, #ffffc5 20%, #f2d77a 100%),
);

// 裝飾線色
$border_color: (
    primary: linear-gradient(to right, #3e3123 0%, #f2d77a 20%, #ffffc5 60%, #f2d77a 80%, #3e3123 100%) 1,
    secondary: linear-gradient(to right, #f2d77a 10%, #ffffc5 30%, #f2d77a 60%, rgba(242, 216, 122, 0) 100%) 1,
    brown: linear-gradient(to top, #3e3123 0%, #140a0c 100%) 1,
);

// 顏色class
@each $name, $value in $txt_color {
    .txt_#{$name} {
        color: $value !important;
    }
}
@each $name, $value in $bg_color {
    .bg_#{$name} {
        background: $value !important;
    }
}
